[user]
    email = erin@covertneko.dev
    name = Erin Winkelmann
[push]
    default = simple
[color]
    ui = true
[core]
    editor = nvim
    autocrlf = false
    safecrlf = true
    eol = lf
[alias]
    s = status
	d = diff --staged
    co = checkout
[init]
    defaultBranch = main
[url "ssh://github.com/"]
    pushInsteadOf = https://github.com/
