[Desktop Entry]
Encoding=UTF-8
Name=Java 6 Web Start
Comment=Java 6 Web Start
Exec=/usr/bin/javaws %u
Terminal=false
Type=Application
Icon=javaws
Categories=Application;Network;
MimeType=application/x-java-jnlp-file;
