trayer --edge top --align right --SetDockType true --SetPartialStrut true \
 --expand true --width 10 --transparent true --alpha 0 --tint 0x002b36 --height 22 &

/usr/bin/start-pulseaudio-x11 &
/usr/bin/xscreensaver -no-splash &
/usr/bin/pnmixer &
