# The executable "trayer" should be the one provided by the package
# "trayer-srg", a fork that adds the --monitor option.
/usr/bin/trayer --monitor primary --edge top --align right --SetDockType true --SetPartialStrut true \
 --expand true --width 10 --transparent true --alpha 0 --tint 0x1D1F21 --height 25 &

/usr/bin/start-pulseaudio-x11 &
/usr/bin/xscreensaver -no-splash &
/usr/bin/twmnd &
/usr/bin/pnmixer &
/usr/bin/nm-applet &
/usr/bin/cbatticon &

xsetroot -cursor_name left_ptr

if [ -z "${WALLPAPERS_DIR}"]; then
  export WALLPAPERS_DIR=$HOME/Pictures/wallpapers
fi

# Set random wallpaper if wallpaper directory exists
if [ -d $WALLPAPERS_DIR ]; then
  hsetroot -fill `find $WALLPAPERS_DIR -type f | sort -R | tail -1`
else
  hsetroot \#111111
fi

# Fix Java GUIs in XMonad
export _JAVA_AWT_WM_NONREPARENTING=1

# Use xcompmgr if available
if type xcompmgr >/dev/null 2>&1; then
  xcompmgr -cfFD 2 &
fi
