[Unit]
Description=Lock all user sessions before suspend
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/loginctl lock-session
ExecStartPost=/usr/bin/sleep 3

[Install]
WantedBy=sleep.target
